.nav-bar{
    position: fixed;
    width: 100dvw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: white;
    box-shadow: 0 0 3px rgb(207, 207, 207);
}
.logo{
    margin-left: 100px;

}
.logo img{
    height: 50px;


}
.menu{
    margin-right: 100px;
    display: flex;
    list-style: none;
}
.menu a{
    padding: 0 10px;
    color: #2e2e2e;
    text-decoration: none;
    transition: 0.3s;
}
.menu a:hover{
    font-weight: bold;

}
.call-action a{ 
    background-color:var(--main-color) ;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

@media (max-width: 999px) {

    .menu{
        display: none;
    }
    
    .nav-bar{
        position: sticky !important;
        width: 100dvw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        background-color: white;
        box-shadow: 0 0 3px rgb(207, 207, 207);
    }
    .logo{
        margin-left: 20px;
    
    }
    .logo img{
        height: 50px;
    
    
    }
    
}